:root{
    --color-logo-blue: #2196F3;
    --color-mainly-dark: #212121;
    --color-paragraph-gray: #757575;
    --color-paragraph-gray-footer: rgba(255, 255, 255, 0.6);
    --color-button: #F5F4FA;
}

/* primary rules */
body{
    font-family: 'roboto', sans-serif;
    background-color: #fff;
    letter-spacing: 0.03em;
}

li {
    list-style-type: none;
}

.sections-headers{
    color: var(--color-mainly-dark);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
/* logo */
.logo{
    font-family: 'raleway', sans-serif;
    text-decoration:none ;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    letter-spacing: 0.03em;
}

.logo-web{
    color: var(--color-logo-blue);
}

footer .logo-studio {
    color: #fff;
}

/* navigation bar */

.nav-bar a{
    text-decoration: none;
    color: var(--color-mainly-dark);
}

.nav-bar a:hover, .nav-bar a:focus{
    color: var(--color-logo-blue);
}

.nav-bar-footer a{
    color: var(--color-paragraph-gray-footer);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}


/* contacts */

.contacts a{
    text-decoration: none;
    color: var(--color-paragraph-gray)
}

.contacts a:hover {
    color: var(--color-logo-blue);
}

.contacts a:focus {
    color: var(--color-logo-blue);
}

/* buttons */
button{
    font-family: 'roboto', sans-serif;
}

.button-primary{
                color: var(--color-mainly-dark)
        }

.button-primary:hover,
.button-primary:focus {
    background-color: var(--color-logo-blue);
    color: #fff
}

.button-primary{
 color: var(--color-mainly-dark);
}

.button-secondary{
    background-color: var(--color-logo-blue);
    color: #fff
}

.button-secondary:hover, .button-secondary:focus{
background-color: #fff;
    color: var(--color-logo-blue)
}

/* section hero */
.section-hero-header{

    color:#fff;
    text-align: center;
}

/* servise descriprion section */
.servise-description h2{
    display: none;
   
}

.servise-description h3 {
    color: var(--color-mainly-dark);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.servise-description p {
    color: var(--color-paragraph-gray);
    font-size: 14px;
    line-height: 1.71;
}

/* our team */

.our-team h3{
    color: var(--color-mainly-dark);
    font-size: 16px;
    line-height: 1.19;
    font-weight: 500;
}

.our-team p{
    color: var(--color-paragraph-gray);
    font-size: 16px;
    line-height: 1.19;
}

/* footer */

footer{
    background-color:#2F303A;
}

.physical-address{
    color: #fff;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;

}

/* protfolio page */

/* main section */

.portfolio-main-header{
    display: none;
}

.projects-examples h2{
    color: var(--color-mainly-dark);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects-examples p{
    color: var(--color-paragraph-gray);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

}